* {
    background-color: #352e2e;
    font-family: monospace;
    color: rgb(60, 255, 1);
    padding: 0px;
}

button {
    background-color: rgb(85, 85, 85); 
}

#cmdButton {
    position: absolute;
    bottom: 9px;
    right: 13%
}

#clearButton {
    position: absolute;
    bottom: 9px;
    right: 2%
}


#cmdLine {
    color: rgb(179, 255, 179);
    background-color: rgb(102, 86, 86);
    border: 1px solid;
    border-color: #696 #363 #363 #696;
    position: absolute;
    bottom: 10px;
    width:75%;
    font-size: 150%;
    text-align: right;
}


#serialResults {
    font-family: monospace;
    white-space: pre;
    position: absolute;
    height: calc(100% - 120px);
    width: calc(100% - 45px);
    border-style: solid;
    overflow-y: auto;
    background-color: rgb(88, 92, 92);
    padding: 10px;
    margin: 5px;
}